<ion-content class="background">
    <div class="content">
        <div class="header">

            <b>
                <p class="signin text" style="font-family: 'Montserrat', sans-serif; font-size: xx-large;">Sign up</p>
                <br>
            </b>
        </div>
        <div class="subheader">
            <b>
                <p class="signin text">WHO YOU ARE?</p>
            </b>

            <img src="../../assets/images/signup-v2.jpg" alt="">
        </div>
        <div class="ion-padding">

            <div class="username">
                <ion-input placeholder="Username" style="--background: linear-gradient(to right, #ED4A5D ,#F37938);"><ion-icon name="person-outline"></ion-icon></ion-input>
            </div>
            <br>
            <div class="email">
                <ion-input placeholder="Email"><ion-icon name="mail-outline"></ion-icon></ion-input><br>
            </div>
            <div class="pass">
                <ion-input placeholder="Password"><ion-icon name="lock-closed-outline"></ion-icon></ion-input><br>
            </div>
            <div class="cpass">
                <ion-input placeholder="Confirm Password"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
            </div>


        </div>
        <!-- <ion-button class="actionbuttion" shape="round" color="rgb(239,73,96), (249,125,53)" center="full">SIGNUP</ion-button> -->
        <div class="signup-center">
            <ion-button class="actionbuttion" shape="round" style="--background: linear-gradient(to right, #ED4A5D ,#F37938); width: 250px;">SIGNUP</ion-button>
        </div>

        <!-- <div class="box-3">
            <p style="padding-left: 2px;">Already have an account? <a href="https://example.com" style="padding-left: 20px; color: #5A6573; text-decoration: none;">Sign Up</a></p>
        </div> -->

        <div class="bottom">
            <div class="txt">
                <p>Already have an account.</p>
            </div>
            <div class="here">
                <a href="">Login here</a>
            </div>
        </div>

        <!-- <ion-grid>
            <ion-row>
                <ion-col size="6">

                    <ion-label>
                        <p1>Already have an account.</p1>
                    </ion-label>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        <a href="">Login here</a>

                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="lime" size="5">

                </ion-col>
                <ion-col size="2">
                </ion-col>
            </ion-row>
        </ion-grid> -->

    </div>

</ion-content>